.navbar{
  padding: 2vh 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 243, 243) !important;
  position: sticky;
}

svg{
  filter: invert(1);
}
.svg-container{
  width: 8vw;
  filter: invert(100);
}

a{
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 600;
  padding: 0 1.2vw ;
}